<md-card>
  <md-toolbar color="primary">Login</md-toolbar>
  <md-card-content>
    <form [formGroup]="form" autocomplete="off" novalidate>

      <div class="row">
        <div class="col-xs-12">
          <md-input-container dividerColor="primary" class="full-width">
            <input mdInput formControlName="email" #textAreaField placeholder="Email">
            <md-hint *ngIf="emailError" color="warn" align="start">{{emailError}}</md-hint>
          </md-input-container>
        </div>

        <div class="col-xs-12">
          <md-input-container dividerColor="primary" class="full-width">
            <input type="password" mdInput formControlName="password" #textAreaField placeholder="Password">
            <md-hint *ngIf="passwordError" color="warn" align="start">{{passwordError}}</md-hint>
          </md-input-container>
        </div>

        <div class="offset-xs-4 col-xs-4">
          <button class="full-width submit-btn" (click)="onSubmit()" type="button" md-raised-button color="primary">Submit</button>
        </div>
      </div>
    </form>
  </md-card-content>
</md-card>
