
  <md-toolbar appDialogManager color="primary" class="app-top-nav">

    <div fxLayout="row" fxFlex="100%" fxLayoutGap="10px">
      <div fxFlex="15%">
      </div>
      <span fxFlex="70%" fxFlex.sm="">
        <span md-icon-button class="md-24" *ngIf="authService.isLoggedIn()" routerLink="/profile">
          {{(user$ | async).username}}
        </span>
      </span>
      <div fxFlex="15%">
        <button md-button *ngIf="!authService.isLoggedIn()" (click)="utilsService.openDialog('register')">Sign Up</button>
        <button md-button *ngIf="!authService.isLoggedIn()" (click)="utilsService.openDialog('login')">Log In</button>
        <button md-button *ngIf="authService.isLoggedIn()" (click)="onLogOut()">Log Out</button>
      </div>
    </div>
  </md-toolbar>

  <div fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div fxFlex="15%" >
      <md-nav-list  *ngIf="authService.isLoggedIn()">
        <md-list-item routerLink="/" routerLinkActive="activeLink" [routerLinkActiveOptions]="{exact:true}">
          Home
        </md-list-item>
        <md-list-item routerLink="/profile" routerLinkActive="activeLink" [routerLinkActiveOptions]="{exact:false}">
          Profile
        </md-list-item>
        <md-list-item routerLink="/feed" routerLinkActive="activeLink" [routerLinkActiveOptions]="{exact:true}">
          Feed
        </md-list-item>
      </md-nav-list>
    </div>
    <div #root class="app-content-root" fxFlex>
      <router-outlet></router-outlet>
    </div>
    <div fxFlex="15%">
    </div>
  </div>



