html, body, app-root, md-sidenav-container, .app-content-root {
  margin: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

.app-content-root
{
  padding: 16px;
}

.app-top-nav
{
}

.app-nav-container
{
  top: 64px !important;
  background: none !important;
}

.app-sidenav
{
  position: absolute;
  width: 200px;
}

.demo-fill-remaining {
  flex: 1 1 auto;
}
