@import '~@angular/material/core/theming/all-theme';
@import '~@angular/material/core/theming/palette';
@import '~@angular/material/core/theming/theming';

@include md-core();


$primary: md-palette($md-blue, 300);
$accent:  md-palette($md-light-blue, 600, A100, A400);
$warn:    md-palette($md-red, 600);
$theme: md-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

