.citationContent
{
  padding: 16px;
  padding-bottom: 0;
}

.citationRank
{
  margin: 0 !important;
  display: inline-block;
  position: absolute;
  right: 10px;
}

.citationRankValue
{
  display: inline-block;
  position: absolute;
  right: 16px;
  padding: 10px !important;
}

.userLink
{
  color: #c6c9f5;
  text-decoration: none;
}

.userLink:hover
{
  color: white;
}